<div id="card" class="flex justify-center w-96 rounded-xl overflow-hidden">
    <div id="inside" class="p-1 m-4 rounded-xl flex flex-col justify-centeritems-center" [style.background-color]="backgroundColor()">
        <header class="flex flex-row justify-between w-full my-1 ">
            <div class="" >
                <div class="font-medium">{{ monster().name }}</div>
            </div>
            <div class="flex flex-row ">
                <div class="font-medium">{{monster().hp}}HP</div>
                <svg width="15" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z" />
                </svg>                  
                <svg width="15" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z" />
                </svg>                  
            </div>
        </header>

        <figure class="bg-slate-500 p-1 flex bg-grey flex-col">
            <img [src]="monster().imgeURL" alt="">        
            <figcaption class="text-sm font-normal">{{monster().figureCaption}}</figcaption>    
        </figure>
        <div id="capcities" class=" flex mt-2">
            <div>
                <div class="flex flex-row justify-between">
                    <div class="flex flex-row">
                        <svg width="15" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z" />
                        </svg>                  
                        <svg width="15" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z" />
                        </svg>                  
                    </div> 
                    <div class="font-medium">{{monster().attackName}}</div>
                    <div class="font-medium">{{monster().attackStrength}}</div>
                </div>
                <div class="">
                    {{monster().attackDescription}}
                </div>
            </div>
        </div>
    </div>
</div>