<app-search-bar [(search)]="search" > </app-search-bar>


<div class="flex flex-row card-list">
    <app-playing-card *ngFor="let monster of filterMonsters()" [monster]="monster"/>
</div>

<div *ngIf="filterMonsters().length == 0; then notFound else found" class="text-center">No monster found</div>

<ng-template #notFound>
    <div class="text-center">No monster found</div>
</ng-template>

<ng-template #found>
    <div class="text-center">Found {{ filterMonsters().length }} monsters!</div>
</ng-template>