<app-search-bar class="" [(search)]="search" > </app-search-bar>

<div class="flex flex-row flex-wrap mx-2 overflow-hidden card-list justify-center">
    @for (monster of filterMonsters(); track monster.name; let i = $index) {
        <div class="w-56 border-2 h-fit">
            <p>{{i}}</p>
            <app-playing-card [monster]="monster"/>
        </div>
    } @empty {
        <div class="text-center">No monster found</div>
    }
</div>

@if (filterMonsters().length > 0) {
    <div class="text-center">Found {{ filterMonsters().length }} monsters!</div>
} 

<div class=" w-full flex flex-row justify-center">
    <button class="border-2 " (click)="addMonster()" >Add Generic Monster</button>
</div>